@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 90px;
  height: 80px;
}

.links {
  display: inline-block;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  padding: 0 10px;
  margin-bottom: 20px;
  cursor: pointer;
  color: #323232;
  font-size: 30px;
  letter-spacing: 0.5px;
}

.links:hover {
  color: #781c68;
}
