@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.titlePage {
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  margin-top: 15px;
  margin-bottom: 0;
  cursor: pointer;
  text-align: center;
  color: #781c68;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 90px;
  height: 80px;
}

.navBar {
  height: 60px;
  text-align: center;
}

.links {
  list-style: none;
  display: inline-block;
  padding: 10px;
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 20px;
  cursor: pointer;
  color: #323232;
  font-size: 30px;
}

.links:hover {
  color: #781c68;
}
