@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  margin-top: 15px;
  margin-bottom: 0;
  cursor: pointer;
  text-align: center;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 90px;
  height: 80px;
}

.links {
  font-family: 'Bebas Neue', cursive;
  position: relative;
  left: 480px;
  padding: 0 10px;
  cursor: pointer;
  color: #323232;
  font-size: 30px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.links:hover {
  color: #000;
}

.links::after {
  content: "";
  position: absolute;
  background-color: #781c68;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

.links:hover::after {
  width: 100%;
}