.boton-cart {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 3.5rem;
    height: 4rem;
    color: #000;
    font-weight: 800;
    font-size: 15px;
}

.cart {
    color: #000;
    cursor: pointer;
    padding: 10px;
  }