.boton-cart {
    font-family: "Bebas Neue", cursive;
    position: absolute;
    top: 20px;
    right: 25px;
    width: 3.5rem;
    height: 4rem;
    color: rgb(255, 0, 0);
    font-weight: 800;
    font-size: 20px;
    background-color: #fff;
}

.cart {
    color: #000;
    cursor: pointer;
    padding: 10px;
}