@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.contenido {
  display: block;
  padding: 2px;
}

.titulo-Item{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  color: #323232;
  text-align: center;
  padding: 5px;
}